@model Elmatgar.Core.Models.ApplicationUser
@{
    ViewBag.Title = "Change User Profile";

}

<h2> @ViewBag.Title</h2>

@using (Html.BeginForm("ChangeUserProfile", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>

    @*/*Users extra columns */*@

    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LasttName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LasttName, new { @class = "form-control" })
        </div>
    </div>
    @*/*Users extra columns for customers*/*@

    <div class="form-group">
        @Html.LabelFor(m => m.Users.UMobile, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Users.UMobile, new { @class = "form-control" })
        </div>
    </div>

        <div class="form-group">
            <div class="form-group">
                @Html.LabelFor(model => model.Users.DepartmentId , "UserId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Users.DepartmentId", (IEnumerable<SelectListItem>)ViewData["Users_DepartmentId"], new { @class = "form-control" })
                   
                    @Html.ValidationMessageFor(model => model.Users.DepartmentId , "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Update" />
            </div>
        </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
   
}
