 
@model  Elmatgar.Core.Models.Products 
 

<div class="ratting-item" data-pid="@Model.Id">
    <input class="rating" id="@Model.Id" name="vote" type="radio" value="1" />
    <input class="rating"id="@Model.Id" name="vote" type="radio" value="2" />
    <input class="rating"id="@Model.Id" name="vote" type="radio" value="3" />
    <input class="rating"id="@Model.Id" name="vote" type="radio" value="4" />
    <input class="rating"id="@Model.Id" name="vote" type="radio" value="5" />
</div>
<span class="result"></span>