@model Elmatgar.Core.Models.SupplierStores

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SupplierStores</h4>
    <hr />
    <dl class="dl-horizontal">




        <dt>
            @Html.DisplayNameFor(model => model.StoreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreName)
        </dd>


    </dl>
    <div>
        <div class="label label-warning "> This supplier has the following data . You must delete them before deleteing supplier </div>

        <ul>
      
            <li>
                The Supplier has @ViewBag.InventoryTransCount related data in Inventory
            </li>
        
        </ul>



    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a href="@Url.Action("Index", "SupplierStores")" class="btn btn-primary">
                <div class="glyphicon glyphicon-arrow-left">  </div> Back to List
            </a>
            <input type="submit" value="Delete" class="btn btn-danger " />


        </div>
    }
</div>
@*// removing lang attribute
    edited by eman herawy
*@