@model Elmatgar.Core.Models.Suppliers

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div >
    <h4> Supplier Information </h4>
    <hr />
    <dl class="dl-horizontal" >
        <dt class="label label-success">
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierName)
        </dd>

        <dt class="label label-success">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt class="label label-success">
            @Html.DisplayNameFor(model => model.LastUpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdateDate)
        </dd>

        <dt class="label label-success">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt class="label label-success">
            @Html.DisplayNameFor(model => model.LastUpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdatedBy)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Index", "Suppliers")" class="btn btn-primary">
        <i class="glyphicon glyphicon-arrow-left">  </i> Back to List
    </a>
    <a href="@Url.Action("Edit", "Suppliers", new {id = Model.Id})" class="btn btn-default">
        <i class="glyphicon glyphicon-edit">  Edite  </i>
    </a>
 
</p>
