@model Elmatgar.Core.Models.SupplyOrders

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SupplyOrders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Suppliers.SupplierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Suppliers.SupplierName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>



    </dl>
    <div>
        <div class="label label-warning "> This Order has the following data . You must delete them before deleteing it </div>

        <ul>

            <li>
                The Order has @ViewBag.InventoryTransCount related data in Inventory
            <li>
                The Order has @ViewBag.SupplyOrderDetailsCount related data in Supplier order details
            </li>
            <li>
                The Order has @ViewBag.SupplyOrderpaymentCount related data in Supplier order Payment
            </li>
           

        </ul>



    </div>

</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <a href="@Url.Action("Index", "SupplyOrder")" class="btn btn-primary">
            <div class="glyphicon glyphicon-arrow-left"></div> Back to List
        </a>
        <div><input type="submit" value="Delete" class="btn btn-danger " /></div>


    </div>
}
 
